<!DOCTYPE html>
<html>
  <head>
    <title>To Do List - Авторизация</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>To Do List - Авторизация</h1>
    <div id="login-form">
      <form action="login.php" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Войти</button>
      </form>
    </div>
  </body>
</html>
