{% load static %}

<!DOCTYPE html>

<html>
<head>
	<title>Моя записная книжка</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="container">
		<br>
        <br>
        <br>
        <a class="form" href="/notes/form">Создать новую задачу</a>
                <ul class="menu">
					<li><a href="/notes/notes_list">All</a></li>
					<li><a href="/notes/notes_list?type=1">Важные срочные</a></li>
					<li><a href="/notes/notes_list?type=2">Важные не срочные</a></li>
					<li><a href="/notes/notes_list?type=3">Неважные срочные</a></li>
                    <li><a href="/notes/notes_list?type=4">Неважные не срочные</a></li>
				</ul>
  

		<h2>Записи</h2>
        <ul>
            {% for i in my2 %}
                <li>
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.text }}</p>
                    {% if i.reminder %}
                         <p>Выполнить до: {{ i.reminder }}</p>
                    {% endif %}


                    <p>{{ i.get_type_display }}</p>

                    <div class="actions">

                        <a class="form" href="/notes/delete?my_id={{ i.id }}">Удалить</a>

                    </div>

                </li>
            {% endfor %}

        </ul>


	</div>
</body>
</html>
